<!DOCTYPE html>
<html  lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>


        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
        <title>Novo agendamento</title>
    </head>

<body>
<header>
    <!--<div class="container">-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Fisioterapia </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio<span class="sr-only">(página atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Agendamentos </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pacientes
                    </a>

                    <div class="dropdown-menu" aria-labelledby="Novo Paciente">
                        <a class="dropdown-item" href="#">Novo Paciente</a>
                        <a class="dropdown-item" href="#">Pesquisa Paciente</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Algo mais aqui</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Desativado</a>
                </li>
            </ul>
            <th:form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar"/>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
            </th:form>
        </div>
    </nav>

</header>

<main style="margin: 20px;">

    <h4>
        Novo agendamento
    </h4>

    <form th:action="@{/agendamentos/salvar}" th:method="${agendamento.id} == 0 ? post : put" th:object="${agendamento}">

        <div class="row">
            <input id="id" type="hidden" th:field="*{id}"/>

            <!--<div class="form-group col-md-4">-->
                <!--<label for="id_pacientes">Paciente</label>-->
                <!--<input class="form-control" id="id_pacientes" type="numeric" th:field="*{id_pacientes}"/>-->
                <!--<span th:if="${#fields.hasErrors('id_pacientes')}" th:errors="*{id_pacientes}" class="label label-danger"></span>-->
            <!--</div>-->

            <div class="form-group col-md-4">
                <label th:for="paciente">Paciente: </label>
                <select th:field="*{paciente}" class="form-control" id="paciente" >
                    <!--<option th:value="Selecione o Paciente" th:text="Selecione o Paciente" >Selecione o Paciente</option>-->
                    <option th:each="paciente : ${pacientes}" th:value="${paciente.id}" selected="selected" th:text="${paciente.nome}" >Paciente</option><!--th:text="#{|paciente.${paciente.nome}|}"-->

                </select>
            </div>

            <div class="form-group col-md-8">
                <label for="data">Data Agendamento:</label>
                <input class="form-control" id="data" type="date" th:field="*{data}"/>
                <span th:if="${#fields.hasErrors('data')}" th:errors="*{data}" class="label label-danger"></span>
            </div>

            <div class="form-group col-md-8">
                <label for="controle">Controle:</label>
                <input class="form-control" id="controle" type="text" th:field="*{controle}"/>
                <span th:if="${#fields.hasErrors('controle')}" th:errors="*{controle}"></span>
            </div>

            <div class="form-group col-md-8">
                <label for="situacao">Situação:</label>
                <input class="form-control" id="situacao" type="text" th:field="*{situacao}"/>
                <span th:if="${#fields.hasErrors('situacao')}" th:errors="*{situacao}" class="label label-danger"></span>
            </div>

            <div class="form-group col-md-8">
                <label for="tipopaciente">Tipo de Paciente:</label>
                <input class="form-control" id="tipopaciente" type="text" th:field="*{tipopaciente}"/>
                <span th:if="${#fields.hasErrors('tipopaciente')}" th:errors="*{tipopaciente}" class="label label-danger"></span>
            </div>

            <div class="form-group col-md-8">
                <label for="planosaude">Plano de Saúde:</label>
                <input class="form-control" id="planosaude" type="text" th:field="*{planosaude}"/>
                <span th:if="${#fields.hasErrors('planosaude')}" th:errors="*{planosaude}" class="label label-danger"></span>
            </div>

        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Salvar</button>
        </div>
    </form>
    <hr/>

    <a class="btn btn-light" th:href="@{/agendamentos/listar}">Voltar</a>

    <hr/>
</main>

<footer class="footer">
        <p>© 2019 Abmael Ferreira</p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



</body>
</html>