<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>

        <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/css/style.css" rel="stylesheet"/>
        <title>Sistema de Agendamento de Consulta por Pacientes</title>
    </head>

    <body>
            <div class="container">

                <div class="jumbotron">
                    <h1>Fisioterapia Molina</h1>
                    <p class="lead">
                        Crie agendamento e avalie pacientes
                    </p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                    </div>

                    <div class="col-md-6">
                        <h3>Encontre agendamentos</h3>
                        <p>
                            Aqui voce pode acessar as agendamento  cadastradas ou adicionar novos
                        </p>

                        <p>
                            <a class="btn btn-success" th:href="@{/agendamentos/listar}">Agendamentos</a>
                        </p>
                    </div>
                </div>

                <hr/>

                <footer class="footer">
                    <p>&copy; 2019 Abmael Ferreira</p>

                </footer>
            </div>
</body>
</html>