<html  lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>


    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
    <title>Agendamentos e Consulta por Paciente</title>
</head>

    <body>
            <div class="container">

                <div class="jumbotron">
                    <h1>Fisioterapia Ronaldo Molina</h1>
                    <p class="lead">
                        Crie agendamento e avalie pacientes
                    </p>
                </div>



                    <div class="col-md-6">
                        <h3>Encontre agendamentos</h3>
                        <p>
                            Aqui voce pode acessar as agendamento  cadastradas ou adicionar novos
                        </p>

                        <p>

                            <a class="btn btn-success" th:href="@{/agendamentos/listar}">Agendamentos</a>
                        </p>
                    </div>



                <hr/>

                <footer class="footer">
                    <p>&copy; 2019 Abmael Ferreira</p>

                </footer>
            </div>
</body>
</html>