<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spotmusic</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Spotmusic</h1>
    </div>

    <div>
        <a class="btn btn-primary" th:href="@{/agendamentos/{agendamentoId}/pacientes/cadastro(agendamentoId=${agendamentoId})}">Novo Paciente</a>
    </div>

    <hr/>
    <div th:if="${pacientes != null}">
        <h4>
            Músicas da agendamento
        </h4>

        <div th:if="${mensagem != null}">
            <div class="alert alert-info" role="alert">
               <span th:text="${mensagem == null ?
                ' ' : mensagem}">mensagem</span>
            </div>
        </div>

        <table class="table">

            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Banda</th>
                    <th>Nota</th>
                    <th>Ação</th>
                </tr>
            </thead>

            <tr th:each="paciente : ${pacientes}">

                <td th:text="${paciente.titulo}">titulo</td>
                <td th:text="${paciente.banda}">banda</td>
                <td th:text="${paciente.nota}">nota</td>
                <td>
                    <a class="btn btn-sm btn-info" th:href="@{/agendamentos/{agendamentod}/pacientes/{musicaId}/atualizar(agendamentoId=${pagendamentoId},musicaId=${paciente.id})}">Editar</a>

                    <a class="btn btn-sm btn-danger" th:href="@{/agendamentos/{agendamentoId}/pacientes/{musicaId}/remover(agendamentoId=${agendamentoId},musicaId=${paciente.id})}">Excluir</a>
                </td>
            </tr>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(pacientes)}">
        <div class="alert alert-info" role="alert">
           <span class="glyphicon glyphicon-exclamation-sign"></span>
            0 músicas cadastradas!
        </div>
    </div>

    <hr/>
    <a class="btn btn-light" th:href="
       @{/agendamentos/listar}">Voltar</a>

    <hr/>
    <footer class="footer">
        <p>© 2018 DevMedia</p>
    </footer>

</div>
</body>
</html>
